*.bak
*.pyc
*.pyo
*.secret
*.swp
*.tmp
*~
.DS_Store
.vagrant/
.venv
__pycache__
github_pat.secret
server/pubkey.txt
server/voters.json
api_cache/
.idea/
server/issue_commands_ran.json
.migrated
ansible/*.retry
