* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #2c2c2c;
    text-align: justify;
}

h1 {
    font-size: 80px;
    letter-spacing: .10em;
}

body {
    margin-top: 1em;    
}

.container {
    background-color: #FFFFFF;
}

#header {
    text-align: center;
    min-width: 2em;
    padding: 0 25%;
    padding-top: 1em;
}

#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 100;    
}

.content-title {
    border: 5px;
    border-style: solid;
}

.content-title h1 {
    padding: 0.5em;
    margin-bottom: 0;
}

#canvas {
    margin: 5px 0;
}
