* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    background-color: #2c2c2c;
    text-align: justify;
}

h1 {
    font-size: 80px;
    letter-spacing: .10em;
}

body {}

.container {
    padding: 0 5% 0 5%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    min-width: 600px;
    max-width: 100%;
}

.content {
    text-align: center;
    min-width: 2em;
    padding: 0 25%;
}

#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.content-title {
    border: 5px;
    border-style: solid;
}
